.CustomSelect {
  display: flex;
  justify-content: end;
}

.CustomSelect__container {
  margin-bottom: 24px;
  text-align: end;
  position: relative;
}

.CustomSelect__preview {
  display: flex;
}

.CustomSelect__text {
  margin-right: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}

.CustomSelect__button {
  border: 0;
  background: transparent;
  display: inline-block;
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #8d8d8d;

  &:hover {
    cursor: pointer;
    color: #df4e3c;
  }

  &::after {
    position: absolute;
    right: 6px;
    top: 4px;
  }
}

// button::after {
//   // content: "\2191";
// }

// button.expanded::after {
//   content: "\2193";
// }

ul.options {
  width: 191px;
  position: absolute;
  right: 0;
  background-color: #fff;
  display: none;
  list-style: none;
  padding: 12px;
  margin-top: 8px;
  // text-align: end;
  border-radius: 15px;
}

ul.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul.options li {
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

ul.options li:not(:last-child) {
  margin-bottom: 12px;
}

ul.options li:hover {
  color: #df4e3c;
}

ul.options li:active,
ul.options li:focus,
ul.options li:hover,
ul.options li[aria-selected="true"] {
  cursor: pointer;
}
