@import "../../utils/vars";

.header {
  background-image: url(../../image/header/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 9px;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-links {
    display: flex;
  }

  &__list {
    display: flex;
    margin-right: 45px;
    color: $color-text-white;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__networks {
    &:not(:last-child) {
      margin-right: 31px;
    }
  }

  &__info {
    padding: 136px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-text-white;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;

    margin-bottom: 32px;
  }

  &__description {
    display: flex;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    margin-bottom: 72px;
  }

  &__text {
    max-width: 295px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

