$color-text-white: #f8f8f8;
$color-background: #e5e5e5;
$color-background-cards: #FFFFFF;
$shodow-cards: 0px 0px 18px rgba(68, 68, 68, 0.09);
$color-title-main: #aeaeae;
$color-cards-grey: #8D8D8D;
$color-text: #000000;
$color-background-email: #000;
$color-info: #8d8d8d;
$color-tomato: #df4e3c;
