.OptionComponent {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  &__container {
    width: 100px;
  }

  &__button {
    border: 0;
    border-radius: 4px;
    background: hotpink;
    width: 100%;
    padding: 6px 8px;
    position: relative;
    text-align: left;

    &:hover {
      cursor: pointer;
    }

    &::after {
      position: absolute;
        right: 6px;
        top: 4px;
        content: "\2191";
    }
  }

  &__expanded::after {
    content: "\2193";
  }

  &__options {
  border: 1px solid hotpink;
  display: none;
  list-style: none;
  padding: 4px 0;
  margin-top: -4px;
  }

  &__show {
    display: block;
  }

  &__item {
    padding: 6px 10px;

    &:hover,
    &:active,
    &:hover {
    background: pink;
    cursor: pointer;
    }
  }

}

.OptionComponent__item[aria-selected="true"] {
  background: pink;
  cursor: pointer;
}