.OptionComponent {
  display: flex;
  // align-items: center;
  justify-content: center;
  // padding-top: 20px;

  &__container {
    position: relative;
  }

  &__button {
    display: flex;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    background: transparent;
    width: 170px;
    padding: 13px 0 13px 16px;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }

    &::after {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      content: url(../../image/button-arrow/arrow.svg);
    }
  }

  &__expanded {
    border: 1px solid #df4e3c;
  }

  &__options {
    border: 1px solid #c4c4c4;
    border-radius: 15px;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    width: 170px;
    display: none;
    list-style: none;
    padding: 4px 0;
    position: absolute;
    top: 0;
  }

  &__show {
    display: block;
  }

  &__item {
    padding: 20px 0 10px 16px;

    &:hover,
    &:active,
    &:hover {
      color: #df4e3c;
      cursor: pointer;
    }
  }
}

.OptionComponent__item[aria-selected="true"] {
  color: #df4e3c;
  cursor: pointer;
}
