// @import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
}


h1 {
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  padding: 0 100px;
  margin: auto;
}